Source: deepin-qml-widgets
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
 qt5-qmake,
 qt5-default,
 qtdeclarative5-dev ( >= 5.3.1~),
 libqt5webkit5-dev ( >= 5.3.1+dfsg~),
 libqt5x11extras5-dev,
 libqt5opengl5-dev,
 pkg-config,
 libxcomposite-dev, 
 libxcb-damage0-dev,
 libgtk2.0-dev,
 deepin-gettext-tools
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: deepin-qml-widgets
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
 qml-module-qtwebkit, qml-module-qtquick-controls, qml-module-qtquick-dialogs, qml-module-qtquick-layouts,
 qml-module-qtquick-privatewidgets, qml-module-qtgraphicaleffects, qtquick1-qml-plugins, qtquick1-qmltooling-plugins,
 qml-module-qtsensors, qml-module-qt-labs-folderlistmodel, qml-model-qtqml-models2,
 qml-module-qt-labs-settings, qml-module-qtquick-localstorage, qml-module-qtquick-particles2, qml-module-qtquick-window2,
 qml-module-qtquick-xmllistmodel, qml-module-qtquick2, qml-module-qtmultimedia, qtgstreamer-plugins
Recommends: qml-module-qttest, qml-module-qtaudioengine
Replaces: dde-qml-gettext-plugin
Provides: dde-qml-gettext-plugin
Conflicts: dde-qml-gettext-plugin
Description: Deepin QML widgets
 Deepin QML widgets
