Source: dde-workspace
Section: testing/utils
Priority: extra
Maintainer: Li Longyu <leaeasy@gmail.com>
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com
Build-Depends: debhelper (>= 9),
 cmake,
 golang-dlib-dev,
 golang-gettext-go-dev,
 golang-go,
 libdeepin-webkit-3.0-0,
 libgdk-pixbuf2.0-dev,
 libglib2.0-dev,
 libgtk-3-dev,
 liblightdm-gobject-1-dev | liblightdm-gobject-dev,
 libsqlite3-dev,
 libwebkitgtk-3.0-dev,
 libxtst-dev,
 fake-node,
 pkg-config,
 python,

Package: dde-workspace
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         dde-dock-applets,
         deepin-menu,
         libdeepin-webkit-3.0-0,
         deepin-nautilus-properties,
         startdde(>= 2.91.0),
         dde-daemon(>= 2.92.1),
         deepin-desktop-schemas,
         lightdm,
Recommends: dde-control-center
Description: deepin desktop envrionment for Linuxdeepin new desktop environment.
 deepin desktop envrionment for Linuxdeepin new desktop environment.
 .
 Include: desktop, dock, launcher, lightdm-greeter
