Source: dde-daemon
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
 dde-go-dbus-factory(>= 0.6.1),
 golang-dlib-dev(>= 0.4.0),
 golang-xgb-dev,
 golang-xgbutil-dev,
 golang-go,
 golang-fsnotify.howeyc-dev,
 golang-go-sqlite3-dev,
 golang-gocheck-dev,
 libudev-dev,
 libglib2.0-dev,
 libgtk-3-dev,
 golang-kingpin.v2-dev,
 libgtk2.0-dev,
 libxi-dev,
 libx11-dev,
 libxkbfile-dev,
 libxtst-dev,
 libxfixes-dev,
 libxcursor-dev,
 golang-imaging.disintegration-dev,
 libfontconfig1-dev,
 dde-api-dev,
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: dde-daemon
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 acpid,
 upower,
 bluez5 | bluez (>=5.4),
 grub-themes-deepin,
 network-manager,
 network-manager-pptp,
 network-manager-l2tp,
 network-manager-openconnect,
 network-manager-openvpn,
 network-manager-vpnc,
 xcur2png,
 xserver-xorg-input-wacom,
 iso-codes,
 mobile-broadband-provider-info,
 policykit-1-gnome,
 deepin-desktop-schemas,
Breaks: dde-daemon(<< 2.92.2)
Description: daemon handling the DDE session settings
    This package contains the daemon which is responsible for setting the
    various parameters of a DDE session and the applications that run
    under it. 
