Homepage: http://www.deepin.org
Source: deepin-cloud-print
Section: graphics
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Uploaders: Iceyer <me@iceyer.net>
Build-Depends: debhelper (>= 9.0~), qt5-default, qtdeclarative5-dev, qttools5-dev-tools, libqt5x11extras5-dev, golang-go, golang-thrift-dev, thrift-compiler,libthrift-dev,dbus-generator,libcups2-dev,libevent-dev, libboost1.58-dev, golang-dlib-dev, libdtkbase-dev, libdtkutil-dev, libdtkwidget-dev
Standards-Version: 3.9.6

Package: printer-driver-deepin-cloud-print
Architecture: any
Depends: cups,
         cups-client,
         ghostscript,
         libpaper-utils,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: deepin-cloud-print
Replaces: deepin-cloud-print
Suggests: system-config-printer-gnome | system-config-printer-kde | system-config-printer
Description: printer driver for PDF writing via CUPS
 deepin-cloud-print provides a PDF Writer backend to CUPS. This can be used as a
 virtual printer in a paperless network or to perform testing on CUPS.
 .
 Documents are written to a configurable directory (by default to ~/PDF)
 or can be further manipulated by a post-processing command.
