[Unit]
Description=service_description

[Service]
Type=dbus
BusName=com.deepin.license
ExecStart=/usr/lib/deepin-daemon/license-agent

[Install]
WantedBy=default.target
Alias=license.service
