Source: qt5deepintheme-plugin
Section: devel
Priority: optional
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9), qt5-default, qtbase5-dev, qtbase5-private-dev,
	pkg-config, libdde-file-manager-dev
Standards-Version: 3.9.6

Package: libqt5deepintheme-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Qt5 Platform Theme Plugin.
 .
 This package contains the shared libraries.

