Source: dde-api
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
 golang-go,
 golang-dlib-dev (>= 0.4.2),
 golang-xgb-dev,
 golang-xgbutil-dev,
 dde-go-dbus-factory(>>2.92.1),
 libxi-dev,
 golang-imaging.disintegration-dev,
 libcanberra-dev,
 librsvg2-dev,
 golang-kingpin.v2-dev,
 libdeepin-metacity-dev,
 libgtk-3-dev,
 libgdk-pixbuf2.0-dev,
 libcairo2-dev,
 libfreetype6-dev,
 libpoppler-glib-dev
Standards-Version: 3.9.5
Homepage: http://www.linuxdeepin.com

Package: dde-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 rfkill, locales, libcanberra-pulse,
Description: Go-lang bingdings for dde-daemon
 Go-lang bindings for dde-daemon

Package: dde-api-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 golang-dlib-dev(>> 0.4.2),
 golang-xgb-dev,
 golang-xgbutil-dev,
 libxi-dev,
 golang-imaging.disintegration-dev,
 libcanberra-dev,
 librsvg2-dev,
 golang-kingpin.v2-dev,
 libdeepin-metacity-dev,
 libgtk-3-dev,
 libgdk-pixbuf2.0-dev,
 libcairo2-dev,
 libfreetype6-dev,
 libpoppler-glib-dev
Description: Go-lang bingdings for dde-daemon
 Go-lang bindings for dde-daemon -- dev file

Package: dde-api-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dde-api(= ${binary:Version})
Description: Go-lang bingdings for dde-daemon -- debugging symbols
 Go-lang bindings for dde-daemon.
 .
 This package contains debugging symbols.
