Source: dde-control-center
Section: admin
Priority: optional
Maintainer:  Li Longyu (Ai Kotoba) <leaeasy@gmail.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 libx11-dev,
 qt5-qmake,
 qt5-default,
 qtdeclarative5-dev,
 deepin-gettext-tools,
 dde-dock-dev,
Standards-Version: 3.9.5
Homepage: http://gitcafe.com/Deepin/dde-control-center.git

Package: dde-control-center
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 dde-account-faces,
 dde-daemon,
 dde-api,
 deepin-artwork-themes,
 xkb-data,
 tzdata-l10n,
Description: New control center for linux deepin
 New control center for linux deepin
