Source: deepin-remote-assistance
Section: misc
Priority: extra
Maintainer: XuShaohua <xushaohua@deepin.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all
Homepage: http://www.linuxdeepin.com/

Package: deepin-remote-assistance
Section: misc
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         dra-chromium,
         liboxideqt-qmlplugin,
         python3-dbus,
         python3-pyqt5,
         python3-pyuserinput,
         python3-tornado,
         python3-xlib,
	 dde-go-dbus-factory (>=14.12+git20150701094308~402c0f2e5d),
	 dde-qml-dbus-factory (>=14.12+git20150701094308~402c0f2e5d),
	 dde-control-center (>=14.12+git20150629151916~bbd68f58e6),
	 deepin-qml-widgets (>=14.12+git20150629154636~a864d6ff58)
Description: Deepin Remote Assistance
