Source: libdui
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9),qt5-default, qtdeclarative5-dev, qtmultimedia5-dev, libqt5x11extras5-dev,
Standards-Version: 3.9.6

Package: libdui1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libdui
Replaces: libdui 
Multi-Arch: same
Description: Deepin graphical user interface library
 DUI is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the shared libraries.

Package: libdui-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdui1( =${binary:Version}), qtdeclarative5-dev, 
 qtmultimedia5-dev, libqt5x11extras5-dev
Description: Deepin graphical user interface library
 DUI is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the header files and static libraries which are
 needed for developing DUI applications.

Package: libdui-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdui1( =${binary:Version})
Description: Debugging symbols for Deepin graphical user interface library
 DUI is Deepin graphical user interface for deepin desktop development.
 .
 This package contains the debugging symbols for which are
 needed for developing DUI applications.
