Source: netease-cloud-music
Section: sound
Priority: optional
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
               libpackagekitqt5-dev,
               libqt5webkit5-dev,
               libqt5x11extras5-dev,
               nodejs-dev,
               qtmultimedia5-dev,
               zlib1g-dev,pkgconf
Standards-Version: 3.9.6
Homepage: http://www.deepin.org

Package: netease-cloud-music
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: netease cloud music player.
 netease cloud music player.
