Source: startdde
Section: admin
Priority: extra
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Build-Depends: debhelper (>= 9), pkg-config, golang-go,
 libsqlite3-dev,
 libwebkitgtk-3.0-dev,
 golang-dlib-dev,
 golang-xgbutil-dev (>= 1+git20151209),
 golang-fsnotify.howeyc-dev,
 dde-go-dbus-factory(>= 2.92.1),
 dde-api-dev,
Standards-Version: 3.9.5
Homepage: http://github.com/linuxdeepin/startdde

Package: startdde
Architecture: any
Provides: x-session-manager
Depends: ${shlibs:Depends},
 ${misc:Depends},
 dde-daemon (>> 2.93.0),
 gvfs-bin,
 libgnome2-bin,
 deepin-wm-switcher,
 deepin-wm | deepin-metacity,
 deepin-desktop-schemas (>> 2.90.0),
 dde-desktop, dde-dock, dde-launcher,
 dde-session-ui,
Conflicts: deepin-session
Breaks: startdde(<= 2.91.1)
Description: starter of deepin desktop environment
 starter of deepin desktop environment.
