Source: deepin-internal-debug
Section: misc
Priority: optional
Maintainer: Deepin Sysdev <sysdev@linuxdeepin.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: deepin-internal-debug
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug settings
 * rsyslog routing
 * core dump
